<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head"></head>
<body>
<h3>Product</h3>

<div class="notify">
    <div th:if="${success}">
        <span th:text="${success}"></span>
    </div>
</div>
<table id = "products">
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Detail</th>
        <th>Category</th>
        <th>Amount</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="c : ${products}">
        <td th:text="${c.id}"></td>
        <td><a th:href="@{/product/{id}(id=${c.id})}" th:text="${c.name}"></a></td>
        <td th:text="${c.detail}"></td>
        <td th:text="${c.category}"></td>
        <td th:text="${c.amount}"></td>
        <td><a th:href="@{/product/edit/{id}(id=${c.id})}" th:text="Edit"></a></td>
        <td><a th:href="@{/product/delete/{id}(id=${c.id})}" th:text="Delete"></a></td>
    </tr>
    </tbody>
</table>
<footer th:replace="layout :: footer"></footer>
</body>
</html>